.section {
  &__table {
    padding: 100px 0px 50px 0px;
  }
}

.table {
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid $border;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: $shadowSm;
  &__title {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  &__name {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
    color: $brand;
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &__item {
    flex-direction: column;
  }
}
tr {
  display: flex;
  &:nth-child(odd) {
    background: $background;
  }
}
td,
th {
  border-bottom: 1px solid $border;
  flex: 0 1 50%;
  text-align: left;
  padding: 15px;
}
th {
  background: $brand;
  color: $colorWhite;
  font-weight: 700;
}
