.type2 {
  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 50px;
      @include lg {
        margin-bottom: 20px;
      }
    }

    &:first-child {
      margin-bottom: 0px;
    }
  }

  &__content {
    display: flex;
    gap: 100px;
    @include lg {
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }
  }

  &__title {
    font-size: 38px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    flex: 0 1 50%;
    margin-bottom: unset;
    @include lg {
      flex: 1 1 100%;
    }
    &:not(:last-child) {
      @include lg {
        margin-bottom: 10px;
      }
    }
  }

  &__picture {
    flex: 0 1 50%;
    text-align: center;
    @include lg {
      flex: 1 1 100%;
    }
  }

  &__image {
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.75);
    max-width: 100%;
    @include lg {
      max-width: 400px;
    }
    @include xs {
      max-width: 100%;
      width: 100%;
    }
  }
}
