.units {
  &__items {
    display: flex;
    gap: 100px;
    @media (max-width: 1050px) {
      gap: 20px;
    }
    @include lg {
      gap: 5px;
    }
    @include md {
      flex-wrap: wrap;
    }
  }

  &__item {
    flex: 0 1 50%;
    @include md {
      flex: 1 1 100%;
    }
    &:last-child {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      @include lg {
        align-items: center;
      }
    }
  }

  &__content {
    @include md {
      margin-bottom: 20px;
    }
  }

  &__link {
    display: inline-block;
    color: $colorWhite;
    background-color: $accent;
    font-weight: 600;
    padding: 14px 28px;
    border-radius: 999px;
    transition: 0.3s ease;
    &:hover {
      background-color: $accentDark;
    }
  }

  &__image {
    text-align: center;
    img {
      box-shadow: $shadow;
      border-radius: 16px;
      max-width: 470px;
      @include sm {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}
